# Pandas

Pandas es una librer√≠a de c√≥digo abierto enfocada al an√°lisis y maniputaci√≥n de datos, es de c√≥digo abierto y escrito en python. Cuenta con estructuras de datos y funciones de an√°lisis de datos de alto rendimiento.

Esta l√≠breria esta construida sobre `numpy` lo cual facilita la aplicaci√≥n de c√°lculos matem√°ticos complejos de una forma bastante sencilla y eficiente.

Ademas integra funcionalidades de `matplotlib` que nos permite crear graficos directamente desde un DataFrame o Serie.

<div class="alert alert-info", role="alert">
    <b>üì¢ Antes de empezar</b>
    <p>
      Antes de continuar con este notebook es necesario descargar el Data Source en formato CSV y colocarlo en la carpeta <b>data/raw</b>. <br>
      <a href="https://www.kaggle.com/datasets/tunguz/online-retail">Data Source</a>
    </p>
</div>

In [1]:
import pandas as pd
import numpy as np

## 2.1 - Estructuras de datos

El n√∫cleo de Pandas son sus dos estructuras de datos principales:
- DataFrames
- Series

### 2.1.1 DataFrames

Estructura en formato tabular (tidy data), se conforma de filas (observaciones) y columnas (variables).

Podemos crear `DataFrames` de multiples formas:
- A partir de un array de numpy.
- A partir de una lista o lista de diccionarios directamente python.
- A partir de un diccionario de python.
- Desde archivos con formatos: `CSV`, `JSON`, `XLSX`, etc.

En este notebook nos enfocaremos en los DataFrame a partir de un archivo CSV que contiene datos de ventas retail en l√≠nea.

Aqu√≠ otro notebook donde se explora la creaci√≥n de DataFrames con los m√©todos antes mencionados.
https://github.com/pahoalapizco/numpy-pandas-introduction/blob/main/pandas/series_dataframes.ipynb

In [2]:
# DataFrame desde un archivo CSV
retail_df = pd.read_csv("../data/raw/online_retail.csv")
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### 2.1.2 Series

Una serie en pandas es una estructura unidimensional similar a un array de `numpy`, tambi√©n es la estructura de una de columna de un DataFrame.

In [3]:
desc_series = retail_df["Description"]
print(type(desc_series))
desc_series.head()

<class 'pandas.core.series.Series'>

0     WHITE HANGING HEART T-LIGHT HOLDER
1                    WHITE METAL LANTERN
2         CREAM CUPID HEARTS COAT HANGER
3    KNITTED UNION FLAG HOT WATER BOTTLE
4         RED WOOLLY HOTTIE WHITE HEART.
Name: Description, dtype: object

## 2.2 - Funciones

Pandas nos provee de multiples funciones para explorar los datos de un DataFrame y/o Serie, entre las mas utilizadas encontramos las siguientes:
- `head()`: Retorna las primeras 5 filas (por default) del DataFrame/Serie.
- `tail()`: Retorna las √∫ltimas 5 filas (por default) del DataFrame/Serie.
- `sample()`: Retorna aleatoriamente 5 dilas del del DataFrame/Serie.
- `info()`: Nos da un resumen del DataFrame.
- `describe()`: Devuelve los estadisticos principales de los de las columnas num√©ricas.
    - Conteos
    - media
    - Desviasi√≥n estandar
    - Caurtil 1, 2 y 4 
    - M√°ximo y M√≠nimo
- `mean()`: Media o promedio de una columna num√©rica.
- `std()`: Desviasi√≥n est√°ndar.
- `median()`: Mediana de una columna/Serie num√©rica.
- `percentile()`: Percentiles de una columna/serie num√©rica.

üìå **Nota**: La funci√≥n `descreibe()` en columnas categ√≥ricas (strings) nos regresa los conteos, valores √∫nicos y frecuencias.

### 2.2.1 head, tail & sample

In [4]:
display(retail_df.head(2), retail_df.tail(2), retail_df.sample(2))

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
145309,548893,21066,VINTAGE RED MUG,1,2011-04-04 15:54:00,2.46,NaN,United Kingdom
110922,545701,21531,RED RETROSPOT SUGAR JAM BOWL,1,2011-03-06 15:17:00,2.55,17107.0,United Kingdom

### 2.2.2 info & describe

In [5]:
# DataFrame
display(retail_df.info(), retail_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

None

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [6]:
# Serie
desc_series.describe()

count                                 540455
unique                                  4223
top       WHITE HANGING HEART T-LIGHT HOLDER
freq                                    2369
Name: Description, dtype: object

### 2.2.3 Funciones estad√≠sticas

In [7]:
quantity_mean = retail_df["Quantity"].mean()
quantity_std = retail_df["Quantity"].std()
quantity_median = retail_df["Quantity"].median()
quantity_q1 = retail_df["Quantity"].quantile(.25)
print(f"Media: {quantity_mean}")
print(f"Mediana: {quantity_median}")
print(f"1er Cuartil: {quantity_q1}")
print(f"Desviasi√≥n Estandar: {quantity_std}")

Media: 9.55224954743324
Mediana: 3.0
1er Cuartil: 1.0
Desviasi√≥n Estandar: 218.08115784986612

## 2.3 - Acceso a datos

### 2.3.1 iloc

La funcionalidad `iloc` esta basado en el acceso a datos mediante la posici√≥n num√©rica de las filas o columnas de un DataFrame. `iloc` sigue las reglas de indexaci√≥n, esto quiere decir que el primer √≠ndice es el $0$.


üìå **Nota**: En el caso de una serie solo podemos acceder a las filas.

Sintaxis: `data_df.iloc[filas, columnas]`. <br>
Donde:
- `filas`: Una sola posici√≥n, un array con las posiciones num√©ricas o un slicing con la sintaxis 
- `columnas`: Una sola posici√≥n, un array con las posiciones num√©ricas de las columnas o bien un slicing.

Sintaxis de slicing en `iloc` aplica tanto para las filas como para las columnas <br>
<code>
  [posicion_inicio : posicion_final : saltos]
</code>

In [17]:
print("Fila 5:")
row_5 = retail_df.iloc[5]
print(row_5)
print(type(row_5))

Fila 5:
InvoiceNo                            536365
StockCode                             22752
Description    SET 7 BABUSHKA NESTING BOXES
Quantity                                  2
InvoiceDate             2010-12-01 08:26:00
UnitPrice                              7.65
CustomerID                          17850.0
Country                      United Kingdom
Name: 5, dtype: object
<class 'pandas.core.series.Series'>

In [23]:
print("Fila 5, columnas 2 y 3:")
row_5_cols_2_3 = retail_df.iloc[5, [2,3]]
print(row_5_cols_2_3)
print(type(row_5_cols_2_3))

Fila 5, columnas 2 y 3:
Description    SET 7 BABUSHKA NESTING BOXES
Quantity                                  2
Name: 5, dtype: object
<class 'pandas.core.series.Series'>

In [24]:
print("Filas 0 a 5, columnas 2 y 3:")
rows_05_cols_2_3 = retail_df.iloc[:5, 2:4]
print(type(rows_05_cols_2_3))
display(rows_05_cols_2_3)

Filas 0 a 5, columnas 2 y 3:
<class 'pandas.core.frame.DataFrame'>

                           Description  Quantity
0   WHITE HANGING HEART T-LIGHT HOLDER         6
1                  WHITE METAL LANTERN         6
2       CREAM CUPID HEARTS COAT HANGER         8
3  KNITTED UNION FLAG HOT WATER BOTTLE         6
4       RED WOOLLY HOTTIE WHITE HEART.         6

In [27]:
print("Filas 8,5,6,2:")
rows_8562 = retail_df.iloc[[8,5,6,2]]
print(type(rows_8562))
display(rows_8562)

Filas 8,5,6,2:
<class 'pandas.core.frame.DataFrame'>

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [28]:
print("Filas 8,5,6,2 y columnas 1, 4, 6:")
rows_8562_cols_146 = retail_df.iloc[[8,5,6,2], [1, 4, 6]]
print(type(rows_8562_cols_146))
display(rows_8562_cols_146)

Filas 8,5,6,2 y columnas 1, 4, 6:
<class 'pandas.core.frame.DataFrame'>

  StockCode          InvoiceDate  CustomerID
8     22632  2010-12-01 08:28:00     17850.0
5     22752  2010-12-01 08:26:00     17850.0
6     21730  2010-12-01 08:26:00     17850.0
2    84406B  2010-12-01 08:26:00     17850.0

### 2.3.2 loc

Con `loc` podemos acceder a los datos por medio de los valores de los indices y no de la posici√≥n num√©rica de las filas y columnas, √©ste m√©todo es "basado en etiquetas".

Caracter√≠sticas de `loc`:
- Si el index de un DataFrame o Serie es categor√≠co, podemos acceder a el por medio de su valor.
- Tambi√©n recibe valores num√©ricos para las posici√≥n, pero su indexaci√≥n empieza desde el $1$.
- Permite filtrado booleano de las filas.
- Permite la selecci√≥n de columnas mediante el nombre de √©stas.


Sintaxis: `data_df.loc[filas, columnas]`. <br>
Donde:
- `filas`: Una sola posici√≥n, un array con las posiciones num√©ricas, un slicing o una selecci√≥n booleana.
- `columnas`: Nombre de una columna o un array con los nombres de las columnas.

Sintaxis de slicing en `loc` aplica tanto para las filas como para las columnas <br>
<code>
  [posicion_inicio : posicion_final : saltos]
</code>

In [39]:
print("Filas de la 2 a la 8:")
rows_from_2_to_8 = retail_df.loc[2:8]
print(type(rows_from_2_to_8))
display(rows_from_2_to_8)

Filas de la 2 a la 8:
<class 'pandas.core.frame.DataFrame'>

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom

In [54]:
print("Ventas de 6 unidades en Arabia Saudita")
advance_selection = (
  retail_df.loc[
    (retail_df["Country"] == "Saudi Arabia")& (retail_df["Quantity"] == 6),
    ["Description", "Quantity", "UnitPrice", "InvoiceDate"]
  ]
)
display(advance_selection)

Ventas de 6 unidades en Arabia Saudita

,Description,Quantity,UnitPrice,InvoiceDate
100811,GLASS JAR MARMALADE,6,2.95,2011-02-24 10:34:00
100812,GLASS JAR PEACOCK BATH SALTS,6,2.95,2011-02-24 10:34:00
100813,GLASS JAR DAISY FRESH COTTON WOOL,6,2.95,2011-02-24 10:34:00